pkgbase = harmonia
	pkgdesc = My Electron music player
	pkgver = 1.1.93
	pkgrel = 1
	url = https://github.com/OpyrusDevOp/Harmonia
	arch = x86_64
	license = MIT
	makedepends = npm
	makedepends = nodejs
	makedepends = git
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = libxss
	depends = libxtst
	depends = mesa
	optdepends = gstreamer: for media playback support
	provides = harmonia
	conflicts = harmonia-git
	source = harmonia-1.1.93.tar.gz::https://github.com/OpyrusDevOp/Harmonia/archive/v1.1.93.tar.gz
	sha256sums = 430c20896e3691d994fb27d83c49ffb22d9ce06541370d60633b1afaf0b68449

pkgname = harmonia
